<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <p>Stay Connected
          <img src="/assets/facebook.png" alt=":(">
          <img src="/assets/instagram.png" alt=":(">
          <img src="/assets/twitter.png" alt=":(">
          <img src="/assets/tiktok.png" alt=":(">
          <img src="/assets/youtube.png" alt=":(">
          <img src="/assets/linkedin.png" alt=":(">
        </p>
      </div>
      <!-- Left -->
  