<tacobell-user-info>load user</tacobell-user-info>

<div class="d-inline-flex flex-rowjustify-content-between">
    <div class= "flex-column">
   <!--<app-sidenavbar> Test the side</app-sidenavbar> -->
   </div>
    <div class = "flex-column">
   <app-topnavbar> Testing the top</app-topnavbar>
    </div>
</div>



<router-outlet></router-outlet>
<!--<app-card class = card card_img = "./assets/chalupaRewards.jpg" card_title="plsgodwork"
button_phrase = "another one please"></app-card>-->

<!--<app-card-lab3></app-card-lab3> -->