<tacobell-user-info>load user</tacobell-user-info>

<div class="d-flex bd-highlight">
    <div class="a">
   <!-- <app-sidenavbar> Test the side</app-sidenavbar> -->
    <app-topnavbar> Testing the top</app-topnavbar>
    </div>
</div>

<app-news-container>test</app-news-container>

<router-outlet></router-outlet>
<!--<app-card class = card card_img = "./assets/chalupaRewards.jpg" card_title="plsgodwork"
button_phrase = "another one please"></app-card>-->

<!--<app-card-lab3></app-card-lab3> -->